header {
	position:fixed;
	background-color: #404040;
	color:white;
	display:inline;
	width: 100%;
	padding:10px;
	top: 0;
	left: 0;
	z-index: 999;
}

nav ul {
	display:inline;
	float: right;
	width: 300px;
}

nav {
	position:fixed;
	top:30px;
	right:0;
}

nav li {
	display:inline;
	font-family: 'PT Sans Narrow', sans-serif;
}

.navitem {
	text-decoration: none;
	color:white;
	font-size: 16px;
	padding: 5px;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
}

.navitem:hover{
	background-color:white;
	color: #404040;
	border-radius: 5px;
}

.first-item {
	margin-top:120px;
}

#spurs {
	text-decoration: none;
	color: navy;
}

#spurs:hover {
	color: #ffd633;
}

#home-dave {
	margin: 5px auto 5px auto;
	max-width: 60%;
	display:block;
	border: 2px solid #66a3ff;
	border-radius: 20%;
}

.index-text {
	text-align: center;
}

body {
	background-color: #e6e6e6;
}

blockquote {
	border: 1px solid black;
	max-width: 500px;
	background-color: white;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px 5px 5px 10px;
	margin-bottom: 50px;
}

#res-header {
	margin-bottom: 15px;
}

#res-header > *{
	text-align: center;
	margin-bottom:-12px;
}

#coding {
	background-image:url(images/coding.jpg);
	background-size: cover;
	padding: 50px;
	color:white;
	list-style: none;
}

#coding > p {
	background-color: black;
}

#travel {
	background-image: url(images/travel.jpg);
	background-size: cover;
	padding: 50px;
	list-style: none;
}

#writing {
	background-image: url(images/writing.jpg);
	background-size: cover;
	padding: 50px;
	list-style: none;
}

#writing >li {
	background-color: #b3b3b3;
	border-radius: 8px;
	width: 3.5em;
}

#soccer {
	background-image: url(images/soccer.jpg);
	background-size: cover;
	padding: 50px;
	list-style: none;
}

#soccer > li {
	background-color: #e6e6e6;
	border-radius: 8px;
	width: 3em;
}

#interests {
	position: absolute;
	left: -40px;
	top: 300px;
	z-index: -1000;
	max-width: 1250px;
}

#ender {
	position: absolute;
	top: 1125px;
	left:0;
	width:100%;
	background-image: url(images/earth.jpg);
	background-size: cover;
	padding:50px;
	max-width: 1110px;
}

#ender > p {
	width: 200px;
	color:white;
}

.port-image {
	max-width: 100%;
	max-height: 40%;
}

#port-head {
	text-align: center;
}

main {
	margin: 2em auto 2em auto;
	width: 1250;
}

section {
	width: 100%;
	overflow: auto;
	text-align: center;
}

.proj {
	float:left;
	height: 100%;
	width: 29.5%;
	margin: 0 1% 1em 1%;
	border: 3px solid #e6e6e6;
}

.proj-link {
	text-decoration: none;
	color: black;
	font-size: 20px;
	/*min-width: 6em;
	max-width: 12em;*/
}

.proj:hover {
	border:3px solid #ffd633;
}
