header {
	position:fixed;
	background-color: #404040;
	color:white;
	display:inline;
	width: 100%;
	padding:10px;
	top: 0;
	left: 0;
	z-index: 999;
}

nav ul {
	display:inline;
	width: 300px;
}

nav {
	position:fixed;
	top:40px;
	right:5%;
}

nav li {
	display:inline;
	font-family: 'PT Sans Narrow', sans-serif;
}

.navitem {
	text-decoration: none;
	color:white;
	font-size: 16px;
	padding: 5px;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
}

.navitem:hover{
	background-color:white;
	color: #404040;
	border-radius: 5px;
}

.first-item {
	margin-top:120px;
}

#spurs {
	text-decoration: none;
	color: navy;
	font-weight: bold;
}

#spurs:hover {
	color: #ffd633;
}

#home-dave {
	margin: 5px auto 5px auto;
	max-width: 60%;
	display:block;
	border: 2px solid #66a3ff;
	border-radius: 20%;
}

.index-text {
	text-align: center;
}

body {
	background-color: #e6e6e6;
}

blockquote {
	border: 1px solid black;
	max-width: 500px;
	background-color: white;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px 5px 5px 10px;
}

#res-header {
	margin-bottom: 15px;
}

#res-header > *{
	text-align: center;
	margin-bottom:-12px;
}

#coding {
	background-image:url(images/coding.jpg);
	background-size: cover;
	padding: 50px;
	color:white;
	list-style: none;
}

#coding > p {
	background-color: black;
}

#travel {
	background-image: url(images/travel.jpg);
	background-size: cover;
	padding: 50px;
	list-style: none;
}

#writing {
	background-image: url(images/writing.jpg);
	background-size: cover;
	padding: 50px;
	list-style: none;
	box-shadow: inset 0px 0px 0 2000px rgba(255,255,255,0.5);
}

#soccer {
	background-image: url(images/soccer.jpg);
	background-size: cover;
	padding: 50px;
	list-style: none;
	box-shadow: inset 0px 0px 0 2000px rgba(255,255,255,0.5);
}

#interests {
	position: absolute;
	left: -40px;
	top: 300px;
	z-index: -1000;
	max-width: 1250px;
	font-size: 18px;
}

#interests * {
	font-size: 20px;
}

#ender {
	background-image: url(images/earth.jpg);
	background-size: cover;
	padding:50px;
}

#ender > p {
	width: 200px;
	color:white;
}

.port-image {
	max-width: 100%;
	max-height: 40%;
}

#port-head {
	text-align: center;
}

main {
	margin: 2em auto 2em auto;
	width: 1250;
}

.proj {
	float:left;
	height: 400px;
	width: 29.5%;
	margin: 0 1% 1em 1%;
	border: 3px solid #e6e6e6;
	text-align: center;
	overflow: hidden;
}

.proj-link {
	text-decoration: none;
	color: black;
	font-size: 20px;
	overflow: hidden;
}

.proj:hover {
	border:3px solid #ffd633;
}

@media (max-width: 800px) {
	.proj {
		width:45%;
		height:450px;
	}

	.port-image {
		max-height: 60%
	}

	#last-port {
		display:block;
		margin-left: 27.5%;
	}
}

@media (max-width: 620px) {
	nav {
		left:0;
		top:80px;	
	}

	h1 {
		margin-top: 0;
	}

	header {
		height: 100px;
	}

	.first-item {
		margin-top: 140px;
	}

	#interests {
		top:340px;
	}
}

@media (max-width: 520px) {
	.proj {
		width: 90%;
		height:100%;
	}

	.port-image {
		max-height:80%;
	}

	#interests {
		top: 380px;
	}

	#last-port {
		margin-left: 0;
	}
}

